<html>
    <head>
        <title>Courtage blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Introduction</a></h1>
        </div>

        <div>
            <p>published: 26.05.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>APour le moment , je suis entrain d'apprendre le mecanisme de creation de la page. Ceci est un exemple d ou j en suis. Tu peux ouvrir de temps en temps la page pour voir ou j en suis lais actuellement je suis un tutoriel m apprenant des concepts encore plus sophistiques; Ouvre par exemple courtage.pythonanywhere.com/admin/</p>
        </div>

        <div>
            <p>published: 26.05.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
